.Register {
  text-align: center;

  main {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
    align-items: center;

    .MuiFormLabel-root {
      color: white;
    }

    h1 {
      color: #1876D1;
    }

    input {
      color: white;
    }

    p {
      color: #aaa;
    }

    img {
      width: 20rem;
    }

    form {
      width: 300px;
    }
  }
}

