.Profile {
  h1 {
    text-align: center;
    color: #1876D1;
  }
  .noposts {
    margin-top: 5em;
    text-align: center;
    p {
      margin-bottom: 1.5em;
    }
    a {
      padding: 10px 25px;
    }
  }
}