.PostForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: #1876D1;
  }

  form {
    width: 70%;
  }

  .tags {
    .input-container {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 1em;
    }

    .tags-container {
      margin: 1em auto;
      padding: 1em;
      max-width: 400px;
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      border: 1px solid white;
    }
  }

  .image-url {
    display: flex;
    justify-content: center;
    gap: 2em;

    .MuiFormControl-root {
      width: 70%;
    }

    img  {
      width: 50px;
    }
  }

  .create-post {
    .post-content {
      overflow: scroll;
      margin: 0;
      padding: 1em;
      background-color: white;

      p {
        color: black;
      }
    }
    .editor {
      display:flex;
      justify-content: space-between;
      width: 100%;

      .chips {
        flex-wrap: wrap;
        background-color: white;
        display: flex;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
        padding: 5px;
      }

      label {
        color: black;
      }

      input {
        margin: 0 1em;
        width: 5em;
        color: black;
      }
    }
  }
}