$scrollbar-color: gray;

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

body {
  background: linear-gradient(45deg, #ecf0f1, white);
  scrollbar-color: $scrollbar-color #282c34;
  scrollbar-width: thin;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
}

a, nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  transition: .4s;
  font-size: 1em;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2em;

  label {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0 .5em !important;
    gap: 0.5em;

    span {
      font-weight: bold;
    }
  }


}


input, textarea {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: .4em .5em !important;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #282C34 inset !important;
}

input:-webkit-autofill{
  -webkit-text-fill-color: white;
}

.container  {
  .error, .message {
    padding: .8em;
    border-radius: 5px;
  }

  .error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
  }

  .message {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
  }
}