.CreatePost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: #1876D1;
  }

  form {
    width: 70%;
  }

  input {
    color: white;
  }

  label {
    color: white;
  }

  textarea {
    background-color: white;
    color: black;
  }

  .tags {
    .input-container {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 1em;
    }

    .tags-container {
      margin: 1em auto;
      padding: 1em;
      max-width: 400px;
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      border: 1px solid white;
    }
  }

  .create-post {
    .post-content {
      margin: 0;
      padding: 1em;
      width: 100%;
      background-color: white;

      p {
        color: black;
      }
    }
    .editor {
      display:flex;
      justify-content: space-between;
      color: white;
      width: 100%;
      .chips {
        flex-wrap: wrap;
        border-radius: 5px;
        background-color: white;
        display: flex;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
        padding: 5px;
      }

      label {
        color: black;
      }

      input {
        margin: 0 1em;
        width: 5em;
        color: black;
      }
    }
  }
}