.PostDetails {
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  border: .1em solid rgba(0, 0, 0, 0.22);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #F5F5F5;

  .post-title {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .post-meta {
    font-size: 1.2em;
    color: #aaa;

    .post-author {
      margin-right: 25px;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;

    .tags {
      overflow: hidden;
      display: flex;
      align-items: center;
      gap: 15px;
      flex-wrap: wrap;
    }
  }

  .action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 1em;
  }
}